@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body, h1, h2, h3, h4, h5, label {
  font-family: "Raleway", sans-serif;
}

#hide {
  display: none;
}

.cursive {
  font-family: "Dancing Script", cursive;
}

.loader {
  border: 16px solid #b3b3b3;
  border-top: 16px solid #f44336;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}